code {
    white-space: pre;
    background: #eee;
    display: inline-block;
    border-radius:  5px;
    padding: 0 5px;
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 10px;
    color: #666;
}